/* line 1, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
input {
  display: none; }

/* line 9, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.container {
  background-color: white; }
  /* line 11, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
  .container.mode--vh {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    /* line 15, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
    .container.mode--vh .bg {
      width: auto;
      height: 100vh; }
    /* line 19, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
    .container.mode--vh .block__cloud_up {
      top: 6vh; }
    /* line 22, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
    .container.mode--vh .block__cloud_down {
      top: 29vh; }
    /* line 27, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
    .container.mode--vh .clock__container {
      left: calc( 50vw + 12vh);
      top: 40vh;
      width: 49vh;
      height: 49vh; }
      /* line 32, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
      .container.mode--vh .clock__container::before {
        width: 2vh;
        height: 2vh; }

/* line 40, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.bg {
  width: 100vw;
  height: auto;
  position: relative;
  z-index: 1; }

/* line 47, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.bg__green {
  display: none; }

/* line 51, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.block__cloud {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 30vw;
  background-size: 100% auto;
  background-repeat: repeat-x;
  margin: 0; }

/* line 61, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.block__cloud_up {
  background-image: url("../images/cloud_up.png");
  top: 4vw;
  background-position: -50vw 0;
  animation: animatedBackground_up 80s linear infinite; }

/* line 68, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.block__cloud_down {
  top: 20vw;
  background-position: 0px 0px;
  background-image: url("../images/cloud_down.png");
  animation: animatedBackground_dowm 150s linear infinite; }

@keyframes animatedBackground_up {
  from {
    background-position: -50vw 0; }
  to {
    background-position: -100vw 0; } }

@keyframes animatedBackground_dowm {
  from {
    background-position: 0 0; }
  to {
    background-position: -100vw 0; } }

/* line 95, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.clock__container {
  position: absolute;
  z-index: 2;
  left: 57.5vw;
  top: 25.1vw;
  width: 30.6vw;
  height: 30.6vw; }
  /* line 104, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
  .clock__container::before {
    display: block;
    content: '';
    width: 1.1vw;
    height: 1.1vw;
    background-color: #1085C6;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 2; }

/* line 124, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.hand {
  position: absolute;
  left: 50%;
  background-color: #1085C6;
  transform-origin: left center;
  border-radius: 10px; }
  /* line 130, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
  .hand.hand__seconds {
    width: 37%;
    height: 0.8%;
    top: calc( 50% - 0.8% / 2);
    transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44); }
  /* line 137, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
  .hand.hand__minute {
    width: 38%;
    height: 2%;
    top: calc( 50% - 2% / 2);
    border-radius: 10px;
    transform: rotate(-45deg); }
  /* line 144, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
  .hand.hand__hour {
    width: 30%;
    height: 2%;
    top: calc( 50% - 2% / 2);
    transform: rotate(-130deg); }

/* line 152, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.seconds-container {
  animation: rotate 60s infinite steps(60); }

/* line 156, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.seconds-container {
  transition: transform 0.2s cubic-bezier(0.4, 2.08, 0.55, 0.44); }

/* line 163, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
#switch_style:checked ~ .block__cloud_up {
  background-image: url("../images/cloud_w_up.png"); }

/* line 166, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
#switch_style:checked ~ .block__cloud_down {
  background-image: url("../images/cloud_w_down.png"); }

/* line 169, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
#switch_style:checked ~ .bg__blue {
  display: none; }

/* line 172, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
#switch_style:checked ~ .bg__green {
  display: block; }

/* line 176, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
#switch_style:checked ~ label .clock__container {
  left: 58vw;
  top: 25.1vw;
  width: 30.6vw;
  height: 30.6vw; }
  /* line 183, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
  #switch_style:checked ~ label .clock__container::before {
    width: 1.1vw;
    height: 1.1vw;
    background-color: #5DBE9C; }

/* line 189, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
#switch_style:checked ~ label .hand {
  background-color: #5DBE9C; }

/* line 193, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
#switch_style:checked ~ .mask__white {
  animation: white_mask_transition2 0.8s ease-in-out forwards; }

/* line 204, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.container.mode--vh #switch_style:checked ~ label .clock__container {
  left: calc(50vw + 13vh);
  top: 40vh;
  width: 48vh;
  height: 48vh; }
  /* line 211, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
  .container.mode--vh #switch_style:checked ~ label .clock__container::before {
    width: 2.3vh;
    height: 2.3vh; }

/* line 221, /Users/gorewang/Newa/demo-web/demo-cover/styles/index.scss */
.mask__white {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: dimgray;
  z-index: 100;
  animation: white_mask_transition 0.8s ease-in-out forwards; }

@keyframes white_mask_transition {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes white_mask_transition2 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*# sourceMappingURL=index.css.map */